@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}

:root{
    --border: 16px;
    --container-width: 1080px;
    --border-mobile: 16px;
    --primary: #10A0A0;
    --primary-300: #089191;
    --primary-700: #74F1F1;
    --grey: #3B4449;
    --border-green: #D3F4F4;
}

body{
    width: 100%;
    background-color: #FFF;
    display: grid;
    place-content: center;

    padding-top: 20px;

    font-family: 'Inter', sans-serif;
    font-style: normal;
    color: #202020;
}

h1{
    font-size: 28px;
    line-height: 28px;
    font-weight: 400;

}

h2{
    font-size: 26px;
    line-height: 26px;
    font-weight: 700;

}

h4{
    font-size: 20px;
    line-height: 24px;
    font-weight: 400;
}


h5{
    font-size: 18px;
    line-height: 20px;
    font-weight: 400;
}

h6{
    font-size: 16px;
    line-height: 16px;
    font-weight: 400;
}

p{
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;

}
.web_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    max-width: var(--container-width);

}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: var(--container-width);
}

.navbar .navbar-list{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 40px;
    height: 60px;

    list-style-type: none;
}

.primary-color-text{
    text-decoration: none;
    color: var(--primary-300);
    font-weight: 700;
}

.navbar_logo-container{
    display: flex;
    justify-content: center;
}

.navbar_logo-container img{
    height: 50px;
}

.navbar_contenido{
    display: flex;
    align-items: center;
    justify-content: end;
    padding: 10px;
    gap: 40px;

    width: 450px;
    height: 44px;
}

.navbar_contenido h6{
    font-weight: 700;
    color: #FF560B;
}

.section{
    width: 100%;
    padding: 40px 0;
}

.banner{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding: 30px 15px;
    gap: 45px;
    height: 450px;
    background: radial-gradient(100% 100% at 50% 100%, rgba(59, 68, 72, 0.85) 0%, rgba(59, 68, 72, 0.6) 55.6%, rgba(59, 68, 72, 0.15) 100%), url("img/banner.jpg");
    background-size: cover;
    background-position: center;
    border-radius: var(--border-mobile);
    border: 1px solid var(--grey);
}

.banner-title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
    text-align: center;

    width: 370px;
    color: white;
}

.banner_buttons{
    display: flex;
    align-items: center;
    gap: 15px;

}

.banner_buttons .primary-btn{
    width: 100%;
}

.section-01{
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.section-02{
    display: flex;
}

.section-03{
    display: flex;
    flex-direction: row-reverse;
    gap: 40px;
    width: 100%;
}

.agenda{
    display: flex;
    flex-direction: column;
    gap: 10px;
}



.titulo-bajada{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.titulo-naranja{
    color: #FF560B;
}

.horario {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    gap: 20px;
    height: 94px;
    background: var(--grey);
    border: 1px solid #202020;
    box-shadow: 0px 10px 20px rgba(16, 160, 160, 0.15);
    border-radius: 16px;
    width: 100%;
}

.horario-texto{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;

    width: max-content;
}

.logo-texto{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 20px;

    width: auto;
}

.logo-texto img{
    height: 50px;
}

.logo-texto p{
    color: white;
}

.logo-texto h4{
    color: var(--primary-700);
    font-weight: 700;
}
.servicios{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 30px;
    gap: 30px;
    height: auto;
    color: #FFFAF0;

    /* gradiente/primario */

    background: radial-gradient(100% 100% at 19.83% 0%, #FF340B 0%, #FF990B 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
    border-radius: var(--border);
}

.nosotros{
    display: flex;
    align-items: flex-start;
    padding: 0px;
    gap: 40px;
}

.nosotros img{
    border-radius: var(--border-mobile);  
    width: 100%;  
}

.nosotros-texto{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    height: 100%;
}

.titulo-bajada h2{
    color: var(--primary-300)
}

.atendidos{
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.atendidos p{
    color: var(--primary);
    line-height: 16px;
}

.atendidos h2{
    font-size: 40px;
    line-height: 32px;
    color: var(--grey);
}

.atendidos h3{
    font-size: 20px;
    font-weight: 700;
    line-height: 18px;
    color: var(--grey);
}

.items-container{
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 20px;
    width: 100%;
}

.item{
    display: flex;
    gap: 10px;
    width: calc(50% - 20px);
}


.item img{
    width: 16px;
}

.contactanos, .visitanos{
    width: 100%;
}

.visitanos{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
}

.map{
    border-radius: var(--border-mobile);
    border: 1px solid var(--border-green);
    width: 100%;
}

.contactanos{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
    height: max-content;
}

.formulario{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 15px;
}

.formulario .input, .formulario .text-area{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 15px;
    background: #FFFFFF;
    border: 1px solid var(--border-green);
    border-radius: 10px;
}

.formulario .input{
    height: 45px;
}

.formulario .text-area{
    height: 140px;
}

footer{
    display: flex;
    justify-content: center;
    width: 100vw;
    background-color: #F0FFFF;
    overflow: visible;
    padding: 20px 0;
}

.footer-container{
    width: 100%;
    max-width: var(--container-width);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 0px;
    gap: 40px;

}

footer .logo-footer{
    height: 70px;
    
}

.social-media__container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 40px;
}

.follow-us__container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
}

.social-media__icons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.social-media__container>a, .navbar_contenido>a{
    text-decoration: none;
}

.footer-creadores{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.hecho-por{
    display: flex;
    gap: 4px;
    
}

.primary-text{
    color: var(--primary-300);
    font-weight: 700;
}

.hecho-por a{
    color: var(--grey);
    text-decoration: none;
}
.footer-info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    padding: 0px;
    gap: 30px;
}

.footer-info .detalle{
    display: flex;
    flex-direction: column;
    gap: 4px;
    text-align: right;
}

.btn{
    height: 48px;
    display: flex;
    gap: 16px;
    justify-content: center;
    align-items: center;
    padding: 0 24px;
    border-radius: 8px;
    font-weight: 700;
    font-size: 16px;
    line-height: 16px;
    text-decoration: none;
    cursor: pointer;
    width: max-content;
}

.primary-btn{
    background-color: var(--primary);
    color: #FFFFFF;
    border: none ;
    filter: drop-shadow(0px 10px 25px rgba(16, 160, 160, 0.2));
}

.primary-btn:hover{
    background: var(--primary-300);
}

.alt-btn{
    background: #F0FFFF;
    border: 1px solid rgba(59, 68, 73, 0.15);
    color: var(--grey);

}

.alt-btn:hover{
    background: #E5FFFF;
}

.blue-text{
    color: #3A3A8B;
}

@media (max-width: 500px){
    :root{
        --border: 0px;
        --container-width: 500px;
        --padding-mobile: 15px;
        --padding-mobile-lg: 40px 15px;
        --border-mobile: 15px;
    }

    h2{
        font-size: 30px;
        line-height: 30px;
        font-weight: 700; 
    }

    .section-01{
        padding: var(--padding-mobile);
    }
    .section-02, .section-03{
        display: flex;
        flex-direction: column;
    }

    .navbar-list{
        flex-direction: column;
    }

    .banner{
        height: 450px;
        padding: var(--padding-mobile);
        border: 1px solid #FEEACD;
    }
    .banner-title{
        width: 100%;
        text-align: left;
        align-items: flex-start
    }

    .banner-title h1{
        width: 240px;
    }

    .banner-title h5{
        width: 200px;
    }

    .banner_buttons{
        flex-direction: column;
        width: 100%;
    }
    .banner_buttons a{
        width: 100%;
    }

    .nosotros, .horario, .visitanos{
        padding: var(--padding-mobile-lg);
    }

    .nosotros{
        flex-direction: column;
        width: 100%;
    }

    .nosotrs img{
        border: var(--border-mobile);
        max-width: 450px;
    }

    .horario{
        flex-direction: column;
        height: auto;
    }

    .horario .logo-texto{
        flex-direction: column;
    }

    .horario a{
        width: 100%;
    }

    .items-container{
        flex-direction: column;
    }

    .item{
        width: 100%;
    }
    .servicios{
        padding: var(--padding-mobile-lg);
    }

    .contactanos{
        padding: var(--padding-mobile-lg);
    }

    footer, .footer-container{
        flex-direction: column;
        align-items: center;
        padding: var(--padding-mobile-lg);

    }

    .follow-us__container, .phone-numbers__container{
        gap: 15px;
    }

    .phone-numbers__container, .numbers, .social-media__container, .follow-us__container{
        align-items: center;
    }
}
